/* General Navbar Styles */
.navbar {
  position: relative;
  width: 100%;
  background-color: rgb(24, 23, 23);
  z-index: 1000;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  background-color: #ffd9003b;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0px 30px;
}

/* Logo container */
.logo-container {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  margin-left: 0;
}

.logo {
  height: 70px;
  transition: height 0.3s ease;
}

.navbar.sticky .logo {
  height: 70px;
  border-radius: 80%;
}

/* Make the text appear next to the logo before scroll */
.motto {
  font-size: 16px;
  color: #B08D57;
  letter-spacing: 1px;
  margin-left: 15px;
  font-size: 0.9em;
}

.navbar.sticky .motto {
  display: none;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.hamburger .bar {
  background-color: #000;
  height: 2px;
  transition: all 0.3s ease;
}

.hamburger .bar:nth-child(1) {
  width: 20px; /* Shorter first bar */
}

.hamburger .bar:nth-child(2) {
  width: 30px; /* Full width second bar */
}

.hamburger .bar:nth-child(3) {
  width: 25px; /* Medium third bar */
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  margin-right: -5vw;
}

.nav-item {
  margin-right: 20px;
}

.styled-link {
  color: white;
  font-size: 16px;
  position: relative;
  padding-top: 10px;
  margin-top: 50px;
  transition: color 0.3s ease, border-top 0.3s ease;
  border-top: 5px solid transparent;
  font-weight: bold;
  text-decoration: none;
}

.styled-link.active {
  color: #FFFFF0;
  border-top: 5px solid #e68369;
}

.styled-link:hover {
  color: #e68369;
  border-top: 5px solid #e68369;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar.sticky {
    position: relative;
    background-color: white;
    box-shadow: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .logo-container {
    flex-direction: row;
    margin-right: 20px;
  }

  .motto {
    margin-left: 10px;
    margin-top: 0;
  }

  .hamburger {
    display: flex;
    margin-left: 60px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 300px;
    background-color: #F5F5F5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: right 0.3s ease;
  }

  .nav-links.open {
    right: 0;
  }

  .mobile-close {
    display: block; /* This will only show in mobile */
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }

  .navbar.sticky .logo-container {
    opacity: 0;
    visibility: hidden;
  }
}

/* Hide mobile close button for larger screens */
@media (min-width: 769px) {
  .mobile-close {
    display: none !important;
  }
}
